body{
  background-color: rgb(0, 0, 0);
}
.cont{
  margin-top:16px;
  margin-left:36px;
  
  padding:32px 32px 8px 32px; 
  background-color: white;
  width:500px;
  height: auto;
  border-radius: 30px;
}
.highlight{
  background-color: yellow;
  padding:1px;
}
.center {
  margin-left: 95px;
  width: 80%;
  font-family:Arial,  sans-serif;
  font-weight:bold;
  letter-spacing:-0.4px;
}
.inp1{
  margin-left: 64px;
}
.inp2{
  margin-left: 32px;
}
.inp3{
  margin-left: 36px;
}

.heading{
  text-align: center;
  color:gray;
  font-family:  Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bolder;
}
.slidecontainer {
    width: 80%;
  }
  
  .slider {
    
    width: 30%;
    height: 10px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 23px;
    height: 24px;
    border: 0;
    background: url('contrasticon.png');
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 23px;
    height: 24px;
    border: 0;
    background: url('contrasticon.png');
    cursor: pointer;
  }
  .footer{
    position: fixed;
  }
